@font-face {
	font-family: 'AvantGarde-Medium';
	src: url('fonts/AvantGardeITCbyBT-Medium.eot');
	src: local('☺'), url('fonts/AvantGardeITCbyBT-Medium.woff') format('woff'), url('fonts/AvantGardeITCbyBT-Medium.ttf') format('truetype'), url('fonts/AvantGardeITCbyBT-Medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'AvantGarde-Book';
	src: url('fonts/avantgardeitcbybt-book.ttf');
	src: local('☺'), url('fonts/avantgardeitcbybt-book.ttf') format('woff'), url('fonts/avantgardeitcbybt-book.ttf') format('truetype'), url('fonts/avantgardeitcbybt-book.ttf') format('svg');
	font-weight: normal;
	font-style: normal;
}

body, html {
	    font-family: 'AvantGarde-Book', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: #231E1F;
	background:#FFFFFF;
	direction:ltr;
	font-size: 17px;
}


h1 {
	font-weight: 700;
}
h1 strong {
	font-weight: 900;
}
h2 {
	font-size: 36px;
	margin: 0;
    font-family: 'AvantGarde-Book', sans-serif;
}
h3 {
	font-size: 17px;
	font-weight: 700;
}
h5 {
	text-transform: uppercase;
	font-weight: 700;
	line-height: 20px;
}
p {
    font-family: 'AvantGarde-Book', sans-serif;
	font-size: 17px;
}
a {
	color: #5b777f;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear;
}
a, input, button {
	color: #212121;
	transition: all 0.5s;
}
a:hover, a:focus {
	text-decoration: none;
	color: #FFC759;
}
.img-centered {
	margin: 0 auto;
}
ul, ol {
	list-style: none;
	margin:0;
	padding:0;
}
.clr {clear:both;}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix {
	display: inline-block;
}
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}
* {
	-webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}
img {max-width: 100%;}
body.modal-open {padding: 0px !important;}
.overlapblackbg {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  display: none;
}
.overlapblackbg.active {display: block;}
button[disabled], html input[disabled] {
  cursor: no-drop;
}
.btn {
	border: 0px none;
	border-radius: 3px;
	font-weight: 600;
}
.btn-primary {
  color: #fff;
  background-color: #5bc9e2;
}
.btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #000;
}
.btn-yellow {
  color: #fff;
  background-color: #FFC759;
}
.btn-yellow.active, .btn-yellow.focus, .btn-yellow:active, .btn-yellow:focus, .btn-yellow:hover, .open > .dropdown-toggle.btn-yellow {
  color: #fff;
  background-color: #0D682F;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


.d-flex {display: flex;}
.flex-center {align-items: center;}
.justify-content-between {justify-content: space-between;}
.direction-ltr {direction: ltr;}
.p_l_20 {padding-right: 20px;}
.p_r_20 {padding-left: 20px;}
.completeAdded {
  background: #97CD8C;
  color: #635238;
  font-size: 20px;
  text-align: center;
  width: 100%;
  height: 80px;
  line-height: 80px;
  max-width: 570px;
  padding: 0 15px;
  border-radius: 5px;
  position: fixed;
  top: 50%;
  left: 50%;
  word-wrap: break-word;
  transition: all .3s;
  z-index: 200;
  transform: translate(-50%,-50%);
}
.completeDelete {
  background: #C6445A;
  color: #FFFFFF;
  font-size: 20px;
  text-align: center;
  width: 100%;
  height: 80px;
  line-height: 80px;
  max-width: 570px;
  padding: 0 15px;
  border-radius: 5px;
  position: fixed;
  top: 50%;
  left: 50%;
  word-wrap: break-word;
  transition: all .3s;
  z-index: 200;
  transform: translate(-50%,-50%);
}
.banner > img {width: 100%;border: 5px solid #FFFFFF;margin: 30px 0;box-shadow: 0px 0px 5px #3030301A;border-radius: 10px;}
.title_sec {font-size: 20px; font-weight: 700; line-height: 54px; color: #212121;}
.offwhite-page {background: #F9F9F9;}
.logout_link {color: #C51943 !important;}
/* =-=-=-=-=-=-=-=-= Header =-=-=-=-=-=-=-=-= */
#search-pop {
  display: flex;
  justify-content: center;
  transition: all 0.5s;
  position: absolute;
  top: 0;
  background: #FFF;
  left: 0;
  right: 0;
  bottom: 0;
  align-items: center;
  z-index: -1;
  opacity: 0;
  max-height: 0px;
  overflow: hidden;
}
#search-pop.active {z-index: 999; opacity: 1; max-height: 200px;}
#search-pop .close-btn {
  display: flex;
  color: #212121;
  font-size: 18px;
  height: 35px;
  width: 35px;
  text-align: center;
  border: 1px solid #eee;
  border-radius: 3px;
  background: #f9f9f9;
  align-items: center;
  justify-content: center;
}
#search-pop .head-search {display: inline-block; position: relative;}
#search-pop .head-search input {
  border-radius: 3px;
  border: 1px solid #EEE;
  color: #212121;
  padding: 0 5px;
  background: #f9f9f9;
  font-size: 18px;
  margin: 0 5px;
}
#search-pop button {
  display: flex;
  color: #212121;
  font-size: 18px;
  height: 35px;
  width: 35px;
  text-align: center;
  border: 1px solid #eee;
  border-radius: 3px;
  background: #f9f9f9;
  align-items: center;
  justify-content: center;
  margin: 0px;
}

nav#top {background: #FFF; color: #000; padding: 3px 0; border-bottom: 1px solid #e5e5e5;}
nav#top .language {display: inline-block; margin-right: 20px;}
nav#top .links {display: inline-block;}
nav#top .links li {display: inline-block; margin-left: 30px;}
nav#top .links li a {color: #8f9397; font-size: 12pt;}
nav#top .links li a:hover {color: #000;}
nav#top .dropdown button {background: transparent; border: 0px none; color: #8f9397; font-size: 12pt;}
nav#top .dropdown button img {width: 18px;}
nav#top .dropdown .dropdown-menu {padding: 0; overflow: hidden;}
nav#top .dropdown .dropdown-menu li {}
nav#top .dropdown .dropdown-menu li a {padding: 10px;}
nav#top .dropdown .dropdown-menu li a img {width: 18px; margin-right: 5px;}
nav#top .dropdown .dropdown-menu li a:hover {}
nav#top .links_right {text-align: right;}
nav#top .links_right .top_links {display: inline-block;}
nav#top .links_right .top_links > li {display: inline-block; margin-left: 15px;}
nav#top .links_right .top_links > li > a {color: #8f9397; font-size: 12pt;}
nav#top .links_right .top_links > li > a .fa {font-size: 12px;}
nav#top .links_right .top_links > li > a:hover {color: #000;}


header {
  background: #FFFFFF;
  box-shadow: 0px 0px 5px #3030301A;
  z-index: 99;
  position: relative;
  padding: 10px 0;
}
header .header-links {padding-top: 10px; text-align: center;}
header .header-links > li {display: inline-block; padding: 0 15px;}
header .header-links > li > a {color: #8a8a8a; font-size: 13pt; font-family: 'AvantGarde-Medium', sans-serif;}
header .header-links > li.active > a,
header .header-links > li > a:hover {color: #ffcd22;}
header .logo {padding: 8px 0px;}
header .logo a {display: inline-block;}
header .right-btn {text-align: right; padding-top: 10px;}
header .right-btn a {
  background: #63b6f8;
  color: #FFF;
  padding: 5px 15px;
  border-radius: 3px;
  display: inline-block;
  letter-spacing: -1px;
  font-size: 16px;
}
header .right-btn a:hover {background: #000000;}
header .right-btn a.nav-trigger {display: none;}
#main_menu.links {
  margin: 0;
  position: absolute;
  top: 100%;
  background: #63b6f8;
  left: 0;
  width: 100%;
  z-index: 999;
  max-height: 0px;
  overflow: hidden;
}
#main_menu:before, #main_menu:after {content: ""; display: table; clear: both;}
#main_menu.active {max-height: 999px;}
#main_menu > ul {}
#main_menu > ul > li {display: block; margin-top: 0px;}
#main_menu > ul > li > a {
  color: #FFF;
  font-size: 18px;
  padding: 5px 15px;
  border-bottom: 1px solid #FFFFFF;
  display: block;
}
#main_menu > ul > li.dropdown.open > .dropdown-menu {
  display: block;
  position: relative;
  float: none;
  background: transparent;
  box-shadow: initial;
  border: 0px none;
  padding: 0 5px;
}
#main_menu > ul > li > ul > li {display: block; margin-bottom: 0px;}
#main_menu .dropdown-menu > li > a {
  padding: 5px;
  color: #FFF;
  background: transparent;
  font-size: 17px;
  line-height: 30px !important;
  border-bottom: 1px solid #F9F9F9;
}
#main_menu .dropdown-menu > li > a img {max-width: 25px; margin-right: 5px;}


.breadcrumb-sec {background: #F9F9F9;}
.breadcrumb-sec .breadcrumb {background: #F9F9F9; margin: 0px; padding: 8px 0px;}
.breadcrumb-sec .breadcrumb .breadcrumb-item a {color: #212121; text-decoration: underline; font-size: 16px;}
.breadcrumb-sec .breadcrumb > .active {color: #212121; font-size: 16px; font-weight: bold;}
.breadcrumb-sec .breadcrumb > li + li::before {
  padding: 0 5px;
  color: #ccc;
  content: "";
  background: url("../images/icons/dropdown-1.svg") no-repeat 0 0 transparent;
  height: 10px;
  width: 10px;
  display: inline-block;
  background-size: contain;
  margin: 0 10px;
}
#content {min-height: 600px;}
/* =-=-=-=-=-=-=-=-= Content =-=-=-=-=-=-=-=-= */

.home_search {
  background: #FFF;
  border-top: 4px solid #62b6fa;
  transform: translate(0, -100%);
  z-index: 9;
  position: relative;
  box-shadow: 0px 0px 12px #e1e3e2;
  padding: 15px;
}
.home_search > form {display: flex;}
.home_search .autocomplete {width: 100%; padding-right: 15px;}
.home_search .autocomplete input {
  height: 40px;
  width: 100%;
  border: 1px solid #ededed;
  padding: 0 15px 0 35px;
  font-size: 14px;
  color: #000;
}
.home_search .autocomplete i {position: absolute; top: 28px; left: 30px; color: #ffcd22;}
.home_search input[type="submit"] {
  width: 300px;
  background: #5bc9e2;
  border: 0px none;
  border-radius: 3px;
  color: #FFF;
  height: 40px;
  font-family: 'AvantGarde-Medium', sans-serif;
}
.home_search input[type="submit"]:hover {background: #000;}
.home_search .autocomplete .autocomplete-items {
  position: absolute;
  background: #FFF;
  left: 0;
  right: 0;
  top: 100%;
  padding: 0px 15px 0px 15px;
}
.home_search .autocomplete .autocomplete-items > div {padding: 5px 0px; border-top: 1px solid #ededed;}
.home_search .autocomplete .autocomplete-items > div + div {}
#sec-cities {padding-bottom: 50px;}
#sec-cities .sec-title {}
#sec-cities .sec-title p {
  color: #5bc9e2;
  font-size: 16px;
  margin: 0px;
  font-family: 'AvantGarde-Medium', sans-serif;
}
#sec-cities .sec-title h3 {
  margin: 5px 0 30px 0;
  font-family: 'AvantGarde-Medium', sans-serif;
  font-weight: 500;
  font-size: 20px;
  text-transform: uppercase;
}
#sec-cities .sec-title h3 a {
  float: right;
  color: #000;
  font-weight: 100;
  font-family: 'AvantGarde-Book', sans-serif;
  font-size: 16px;
  line-height: 22px;
  text-transform: capitalize;
}
#sec-cities .sec-title h3 a:hover {text-decoration: underline;}
#sec-cities .btn-boxs {}
#sec-cities .btn-boxs .image {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  height: 140px;
  margin-bottom: 10px;
}
#sec-cities .btn-boxs .image img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
#sec-cities .btn-boxs .image h3 {
  position: relative;
  color: #FFF;
  margin: 15px 15px 5px 15px;
}
#sec-cities .btn-boxs .image p {
  position: relative;
  color: #FFF;
  margin: 0 15px;
  font-size: 16px;
}
#sec-cities .btn-boxs .btn-box {
  display: block;
  border: 1px solid #ededed;
  margin-bottom: 10px;
  height: 65px;
  text-align: center;
  line-height: 65px;
  color: #484849;
}
#sec-cities .btn-boxs .btn-box .fa {color: #5bc9e2;}
#sec-cities .btn-boxs .btn-box span {margin: 0 10px;}
#sec-cities .btn-boxs .btn-box.active,
#sec-cities .btn-boxs .btn-box:hover {background: #f7f8f9;}

#sec-about {background: #f7f8f9; padding: 50px 0;}
#sec-about .sec-title {text-align: center; margin-bottom: 30px;}
#sec-about .sec-title h3 {
  font-family: 'AvantGarde-Medium', sans-serif;
  font-size: 24px;
  font-weight: 100;
}
#sec-about .sec-title p {max-width: 850px; margin: 0 auto;}
.about-boxs {}
.about-boxs .about-box {
  background: #f8f9fa;
  padding: 15px;
  margin-bottom: 30px;
  box-shadow: 1px 0 10px #e1e3e2db;
}
.about-boxs .about-box .head {
  display: flex;
  align-items: center;
  height: 70px;
}
.about-boxs .about-box .head img {width: 50px; margin-right: 15px;}
.about-boxs .about-box .head h3 {
  font-family: 'AvantGarde-Medium', sans-serif;
  font-size: 22px;
  font-weight: 100;
  margin: 0;
  color: #0b172f;
}
.about-boxs .about-box .description {
  color: #989698;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 15px;
}
.about-boxs .about-box a {
  color: #222223;
  font-family: 'AvantGarde-Medium', sans-serif;
  font-size: 18px;
}
.about-boxs .about-box a:hover {text-decoration: underline;}

.sec-directions {padding: 50px 0;}
.sec-directions .sec-title {}
.sec-directions .sec-title p {
  color: #5bc9e2;
  font-size: 16px;
  margin: 0px;
  font-family: 'AvantGarde-Medium', sans-serif;
}
.sec-directions .sec-title h3 {
  margin: 5px 0 30px 0;
  font-family: 'AvantGarde-Medium', sans-serif;
  font-weight: 500;
  font-size: 20px;
  text-transform: uppercase;
}
.sec-directions .sec-title h3 a {
  float: right;
  color: #000;
  font-weight: 100;
  font-family: 'AvantGarde-Book', sans-serif;
  font-size: 16px;
  line-height: 22px;
  text-transform: capitalize;
}
.sec-directions .sec-title h3 a:hover {text-decoration: underline;}

.directions-boxs {}
.directions-boxs .directions-box {
  background: #FFF;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 1px 0px 19px #e1e3e2db;
  margin-bottom: 30px;
}
.directions-boxs .directions-box .head {position: relative; min-height: 60px;}
.directions-boxs .directions-box .head .title {
  background: #f7f8f9;
  color: #9c9999;
  display: inline-block;
  margin: 0 15px;
  padding: 5px 15px;
}
.directions-boxs .directions-box .head .title img {
  display: inline-block;
  vertical-align: middle;
  max-width: 35px;
}
.directions-boxs .directions-box .head .add-fav {
  position: absolute;
  top: 15px;
  right: 15px;
  margin: 0;
  cursor: pointer;
}
.directions-boxs .directions-box .head .add-fav input {display: none;}
.directions-boxs .directions-box .head .add-fav .fav-ico {
  background: #313131;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
  border-radius: 3px;
}
.directions-boxs .directions-box .head .add-fav .fav-ico .img-nofav {display: block;}
.directions-boxs .directions-box .head .add-fav .fav-ico .img-fav {display: none;}
.directions-boxs .directions-box .head .add-fav input:checked + .fav-ico .img-nofav {display: none;}
.directions-boxs .directions-box .head .add-fav input:checked + .fav-ico .img-fav {display: block;}
.directions-boxs .directions-box .content {padding: 15px;}
.directions-boxs .directions-box .content h3 {
  font-family: 'AvantGarde-Medium', sans-serif;
  font-weight: 500;
  margin: 0 0 10px 0;
}
.directions-boxs .directions-box .content p {
  color: #9f9694;
  font-size: 16px;
  line-height: 30px;
  max-width: 270px;
  margin: 0;
}
.directions-boxs .directions-box .box-foot {
  display: block;
  text-align: center;
  padding: 15px;
  border-top: 1px solid #f7f8f9;
  color: #9f9694;
}
.directions-boxs .directions-box .box-foot:hover {background: #5bc9e2; color: #FFF;}

#bottom-search {padding: 100px 0; background: url("../images/Layer 49.png") no-repeat 0 0 #FFFFFF; background-size: cover;}
.home-page #bottom-search {background: url("../images/Layer 48.png") no-repeat 0 0 #f7f8f9; background-size: cover;}
#bottom-search .title {text-align: center; color: #484949; font-family: 'AvantGarde-Medium', sans-serif; font-size: 24px; font-weight: 500; text-transform: uppercase; margin-bottom: 30px;}
#bottom-search .form-flex {display: flex;}
#bottom-search .form-flex input {
  background: #FFF;
  box-shadow: inherit;
  border: 1px solid #ededed;
  padding: 10px 15px;
  width: 100%;
  color: #000;
  border-radius: 0px;
}
#bottom-search .form-flex button {
  background: #5bc9e2;
  border: 0px none;
  color: #FFF;
  padding: 0 30px;
  border-radius: 3px;
  width: 250px;
}
#bottom-search .form-flex button:hover {background: #000;}


#contact_us {padding: 100px 0;}
.card-form {
  background: #FFF;
  box-shadow: 0px 1px 19px #e1e3e2db;
  border-radius: 8px;
  padding: 30px;
  border-top: 4px solid #5db1f1;
}
.card-form .sec-title {text-align: center;}
.card-form .sec-title h2 {font-size: 28px; margin-bottom: 10px;}
.card-form .sec-title p {color: #9f9694;}
.card-form .sub-title {text-align: left; margin-bottom: 30px;}
.card-form .sub-title h3 {font-size: 18px; font-weight: 100;}
.card-form .sub-title p {color: #9f9694; font-size: 16px;}


.card-form .big-image {text-align: center;}
.card-form .content {}
.card-form .content h3.sub-title {
  color: #231f20;
  font-size: 17px;
  font-family: 'AvantGarde-Medium', sans-serif;
  padding: 5px 0;
  position: relative;
  margin-bottom: 30px;
}
.card-form .content h3.sub-title:before {
  content: "";
  position: absolute;
  top: 100%;
  height: 2px;
  width: 100px;
  background: #f8cf71;
  left: 0;
}
.location-box {display: flex; margin: 15px 0;}
.location-box .ico .fa {font-size: 20px; color: #63b6f8; margin-right: 10px;}
.location-box .location-contact {}
.location-box .location-contact h3 {margin: 0px; color: #414141; }
.location-box .location-contact p {
  color: #6a6a6a;
  font-size: 16px;
  max-width: 250px;
}
#account-form {padding: 100px 0;}
#account-form .card-form .content {padding-top: 30px;}
.bs-form-control {
  position: relative;
  margin-bottom: 25px;
  max-width: 550px;
}
.bs-form-control label {
  margin: 0;
  font-weight: 100;
  font-size: 17px;
  color: #3b3b3b;
}
.bs-form-control .input-form-control  {
  display: block;
  background: #FFFFFF;
  border: 0px none !important;
  border-bottom: 1px solid #f7f8f9 !important;
  border-radius: 0px;
  position: relative;
  font-size: 14px;
  padding: 10px 3px;
  color: #212121;
  width: 100%;
}
.bs-form-control .form-input-select {}
.bs-form-control .form-input-select .select-form-control {
  display: block;
  background: #FFFFFF;
  border: 1px solid #ededed !important;
  border-radius: 0px;
  position: relative;
  font-size: 14px;
  padding: 10px 5px;
  color: #212121;
  width: 100%;
}
.bs-form-checkbox {margin-bottom: 10px;}
.bs-form-checkbox input[type="checkbox"] {
  position: relative;
  width: 20px;
  height: 20px;
  margin: 0px;
  vertical-align: middle;
  color: #363839;
  border: 1px solid #eeeeee;
  border-radius: 4px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  cursor: pointer;
  transition: background 175ms cubic-bezier(0.1, 0.1, 0.25, 1);
}
.bs-form-checkbox input[type="checkbox"]::before {
  position: absolute;
  content: "";
  display: block;
  top: 1px;
  left: 6px;
  width: 6px;
  height: 12px;
  border-style: solid;
  border-color: #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  opacity: 0;
}
.bs-form-checkbox input[type="checkbox"]:checked {
  color: #fff !important;
  border-color: #5bc9e2 !important;
  background: #5bc9e2 !important;
}
.bs-form-checkbox input[type="checkbox"]:checked::before {
  opacity: 1;
}
.bs-form-checkbox label {
  cursor: pointer;
  font-size: 16px;
  font-weight: 100;
  line-height: 20px;
  vertical-align: middle;
  margin: 0;
  color: #9f9694;
}
.bs-form-checkbox input[type="checkbox"]:checked ~ label {color: #3b3b3b;}
.card-form .content .foot {padding: 30px 0;}
.card-form .content .foot .btn-primary {
  font-size: 24px;
  font-weight: 100;
  max-width: 350px;
  margin: 0 auto 30px auto;
}
#account-form .card-form .content .foot p {color: #9f9694;}
#account-form .card-form .content .foot p a {color: #5bc9e2}
#account-form .card-form .content .foot p a:hover {color: #000; text-decoration: underline;}
#account-form .card-form .content .foot p.text_or_ {color: #000; position: relative;}
#account-form .card-form .content .foot p.text_or_:before {
  content: "";
  position: absolute;
  top: 50%;
  height: 1px;
  width: 150px;
  background: #000;
  left: 50%;
  transform: translate(-50%, -50%);
}
#account-form .card-form .content .foot p.text_or_ span {
  position: relative;
  background: #FFF;
  padding: 0 10px;
  font-weight: bold;
}	
#account-form .card-form .content .foot ul li {display: inline-block; padding: 15px;}
#account-form .card-form .content .foot ul li a {height: 40px; width: 88px; border-radius: 40px; color: #FFF; display: block; line-height: 40px;}
#account-form .card-form .content .foot ul li a.with_google {background: #db4437;}
#account-form .card-form .content .foot ul li a.with_facebook {background: #3b5998;}
#account-form .card-form .content .foot ul li a.with_twitter {background: #1da1f2;}
.page-header {
  padding: 65px 0;
  margin: 0px 0px 30px 0px;
  border: 0px none;
  background: url("../images/crusies_head.png") no-repeat 0 0 transparent;
  background-size: cover;
}
.page-header.with-search {background: url("../images/head_search.png") no-repeat 0 0 transparent; background-size: cover; margin-bottom: 0px;}
.page-header h2 {color: #FFF; display: inline-block;}
.page-header h2 img {width: 50px;}
.page-header .ico {display: inline-block; vertical-align: top;}
.page-header .ico img {margin: 5px;}
#booking-form {padding-bottom: 50px;}
#booking-form .card-form .content .foot {padding-bottom: 0px;}
#booking-form .card-form .content .foot .btn-primary {margin-bottom: 0px;}

#booking-form.booking-done .card-form .content {padding: 0 30px;}
#booking-form.booking-done .card-form .content ul.booking-info {margin-bottom: 30px;}
#booking-form.booking-done .card-form .content ul.booking-info li {background: #FFF;}
#booking-form.booking-done .card-form .content ul.booking-info li:nth-of-type(2n + 1) {background: #f2f2f2;}
#booking-form.booking-done .card-form .content ul.booking-info li .d-flex {padding: 5px;}
#booking-form.booking-done .card-form .content ul.booking-info li .d-flex .table-t {flex: 2; font-weight: 600;}
#booking-form.booking-done .card-form .content ul.booking-info li .d-flex .table-p {flex: 1;}


#booking_sidbar .booking-info {
  background: #FFF;
  border: 1px solid #f7f7f7;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  margin-bottom: 30px;
}
#booking_sidbar .booking-info .image {position: relative; margin-bottom: 15px;}
#booking_sidbar .booking-info .image img {width: 100%;}
#booking_sidbar .booking-info .image .rating {position: absolute;bottom: 10px;left: 10px;}
#booking_sidbar .booking-info .image .rating .fa {margin-right: 5px; color: #ffc107;}
#booking_sidbar .booking-info .content {padding: 0 10px;}
#booking_sidbar .booking-info .content .info-head {border-bottom: 1px solid #f7f8f9;}
#booking_sidbar .booking-info .content .info-head .name {
  font-family: 'AvantGarde-Medium', sans-serif;
  font-weight: 500;
  margin: 0 0 10px 0;
}
#booking_sidbar .booking-info .content .info-head .location {font-size: 16px; color: #9f9694;}
#booking_sidbar .booking-info .content .info-head .location .fa {color: #63b6f8;}
#booking_sidbar .booking-info .content .info-description {padding-top: 10px;}
#booking_sidbar .booking-info .content .info-description p {font-size: 16px; color: #9f9694;}
#booking_sidbar .booking-info .content .info-description .advantages {margin-bottom: 5px;}
#booking_sidbar .booking-info .content .info-description .advantages li {display: inline-block;}
#booking_sidbar .booking-info .content .info-description .advantages li img {max-width: 20px;}
#booking_sidbar .booking-info .content .info-details {}
#booking_sidbar .booking-info .content .info-details .btn-primary {}
#booking_sidbar .booking-info .content .info-details h3 {margin: 20px 0 5px 0;}
#booking_sidbar .booking-info .content .info-details ul {margin-bottom: 30px;}
#booking_sidbar .booking-info .content .info-details ul li {background: #f2f2f2;}
#booking_sidbar .booking-info .content .info-details ul li:nth-of-type(2n + 1) {background: #FFF;}
#booking_sidbar .booking-info .content .info-details ul li .d-flex {padding: 5px;}
#booking_sidbar .booking-info .content .info-details ul li .d-flex .table-t {flex: 3;}
#booking_sidbar .booking-info .content .info-details ul li .d-flex .table-p {flex: 1;}
#booking_sidbar .sidebar-help {
  background: #FFF;
  border: 1px solid #f7f7f7;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  padding: 10px;
  margin-bottom: 30px;
}
#booking_sidbar .sidebar-help h3 {
  margin: 0px 0px 10px 0px;
  padding: 10px 0;
  border-bottom: 1px solid #e7e7e7;
}
#booking_sidbar .sidebar-help p {font-size: 16px; color: #9f9694; max-width: 320px;}
#booking_sidbar .sidebar-help ul {}
#booking_sidbar .sidebar-help ul li {margin-bottom: 10px;}
#booking_sidbar .sidebar-help ul li a {color: #000;}
#booking_sidbar .sidebar-help ul li a .ico {
  height: 40px;
  width: 40px;
  display: inline-block;
  text-align: center;
  background: #EEE;
  line-height: 40px;
  color: #22a9ff;
  font-size: 20px;
  border-radius: 40px;
  margin-right: 5px;
}
#booking_sidbar .sidebar-help ul li a:hover {text-decoration: underline;}

.head-slider {margin-bottom: 30px;}
.swiper-home, .swiper-head {overflow: hidden; position: relative;}
.swiper-home .swiper-slide img, .swiper-head .swiper-slide img {width: 100%;}
.swiper-head .swiper-button-prev {background: url("../images/icons/arrow-left.png") no-repeat 0 0 transparent;}
.swiper-head .swiper-button-next {background: url("../images/icons/arrow-right.png") no-repeat 0 0 transparent;}
.crusies-detials-page {background: #f8f9fa; padding-bottom: 50px;}
.crusies-info {
  background: #FFF;
  box-shadow: 0px 0px 19px #e1e3e2db;
  border-radius: 5px;
  margin-bottom: 30px;
}
.crusies-info .crusies-head {border-bottom: 2px solid #63b6f8;}
.crusies-info .crusies-head h3 {
  margin: 0px;
  padding: 10px 15px;
  background: #63b6f8;
  display: inline-block;
  color: #FFF;
  font-size: 16px;
  border-radius: 5px 5px 0 0;
}
.crusies-info .content {padding: 15px;}
.crusies-info .content .description-sec {
  padding-bottom: 20px;
  border-bottom: 1px solid #f7f8f9;
  margin-bottom: 20px;
}
.crusies-info .content .description-sec h3 {}
.crusies-info .content .description-sec p {margin: 0px; color: #9f9694; white-space: break-spaces; font-size: 16px;}
.crusies-info .content .location-sec {
  padding-bottom: 20px;
  border-bottom: 1px solid #f7f8f9;
  margin-bottom: 20px;
}
.crusies-info .content .location-sec h3 {}
.crusies-info .content .location-sec .google-maps-box {}
.crusies-info .content .location-sec .google-maps-box > iframe {width: 100%; height: 400px;}
.crusies-info .content .gallery-sec {
  padding-bottom: 20px;
  border-bottom: 1px solid #f7f8f9;
  margin-bottom: 20px;
}
.crusies-info .content .gallery-sec h3 {}
.crusies-info .content .gallery-sec .gallery-boxs {}
.crusies-info .content .gallery-sec .gallery-boxs .example-image-link {display: block; margin-bottom: 30px;}
.crusies-info .content .gallery-sec .gallery-boxs .example-image-link img {}
.crusies-info .content .amenities-sec {
  padding-bottom: 20px;
  border-bottom: 1px solid #f7f8f9;
  margin-bottom: 20px;
}
.crusies-info .content .amenities-sec h3 {}
.crusies-info .content .amenities-sec .amenities-icons {}
.crusies-info .content .amenities-sec .amenities-icons .convenience {
  color: #9f9694;
  font-size: 16px;
  margin-bottom: 10px;
}
.crusies-info .content .amenities-sec .amenities-icons .convenience .ico {
  height: 30px;
  width: 30px;
  display: inline-block;
  vertical-align: middle;
}

.listing_reviews-sec {}
.listing_reviews-sec .reviews-boxs {
  margin: 15px 0 20px 0; 
  padding-bottom: 20px;
  border-bottom: 1px solid #f7f8f9;
}
.listing_reviews-sec .reviews-boxs .review-box {
  display: flex;
  align-items: center;
  padding: 15px 0;
}
.listing_reviews-sec .reviews-boxs .review-box + .review-box {border-top: 1px solid #f7f8f9;}
.listing_reviews-sec .reviews-boxs .review-box .image {height: 90px; width: 90px;}
.listing_reviews-sec .reviews-boxs .review-box .image img {border-radius: 100px;}
.listing_reviews-sec .reviews-boxs .review-box .name {flex: 1; text-align: center; padding: 0 10px;}
.listing_reviews-sec .reviews-boxs .review-box .name h3 {margin: 0px 0 5px 0;}
.listing_reviews-sec .reviews-boxs .review-box .name h3 a {color: #000000;}
.listing_reviews-sec .reviews-boxs .review-box .name .rating {color: #5bc9e2;}
.listing_reviews-sec .reviews-boxs .review-box .name .rating .fa {}
.listing_reviews-sec .reviews-boxs .review-box .review {flex: 4; color: #9f9694; font-size: 16px;}
.listing_reviews-sec .write_review {}
.listing_reviews-sec .write_review .bs-form-control {max-width: 100%;}
.listing_reviews-sec .write_review .bs-form-control .input-form-control {border: 1px solid #ededed !important; padding: 10px;}
.listing_reviews-sec .write_review .bs-form-control .star-rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  padding: 8px 10px;
  text-align: center;
  width: 100%;
  border: 1px solid #ededed;
}

.listing_reviews-sec .write_review .bs-form-control .star-rating span {
    font-size: 14px;
    margin: 5px 10px;
}

.listing_reviews-sec .write_review .bs-form-control .star-rating input {
    display: none;
}

.listing_reviews-sec .write_review .bs-form-control .star-rating label {
    color: #ccc;
    cursor: pointer;
}

.listing_reviews-sec .write_review .bs-form-control .star-rating :checked~label {
    color: #5bc9e2;
}

.listing_reviews-sec .write_review .bs-form-control .star-rating label:hover,
.listing_reviews-sec .write_review .bs-form-control .star-rating label:hover~label {
    color: #5bc9e2;
}
.listing_reviews-sec .write_review .foot {margin-bottom: 30px;}
.listing_reviews-sec .write_review .foot .btn-primary {padding: 15px 20px; font-size: 18px;}
#crusies_sidbar {}
#crusies_sidbar .crusies-price {
  background: #f8f9fa;
  box-shadow: 0px 0px 19px #e1e3e2db;
  border-radius: 5px;
  margin-bottom: 30px;
}
#crusies_sidbar .crusies-price .head {padding: 20px 15px; border-bottom: 1px solid #eff0f0;}
#crusies_sidbar .crusies-price .head .price {
  margin: 0px;
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
  color: #5bc9e2;
  letter-spacing: 1px;
}
#crusies_sidbar .crusies-price .head span {
  font-size: 16px;
  font-weight: bold;
  margin-left: 5px;
  color: #8a898e;
}
#crusies_sidbar .crusies-price .content {padding: 15px;}
#crusies_sidbar .bs-form-control label {margin-bottom: 5px; color: #8a898e;}
#crusies_sidbar .bs-form-control .input-form-control {border: 1px solid #ebebeb !important; padding: 10px;}
#crusies_sidbar .bs-form-control .form-input-select .select-form-control {border: 1px solid #ebebeb !important; padding: 10px;}
#crusies_sidbar .foot {text-align: center; margin-bottom: 30px;}
#crusies_sidbar .foot .btn-primary {
  padding: 10px;
  font-size: 16px;
  margin-bottom: 30px;
}
#crusies_sidbar .foot .text-primary {
  background: transparent;
  border: 0px none;
  color: #5bc9e2;
}
#crusies_sidbar .foot .text-primary:hover {color: #000; text-decoration: underline;}
#crusies_sidbar .booking-form-done .bs-form-control {margin: 0px;}
#crusies_sidbar .booking-form-done .bs-form-control .form-input-select .select-form-control,
#crusies_sidbar .booking-form-done .bs-form-control .input-form-control {padding: 20px 10px; color: #000;}
#crusies_sidbar .booking-form-done .bs-form-control .input-form-control:disabled,
#crusies_sidbar .booking-form-done .bs-form-control .form-input-select .select-form-control:disabled {color: #929196;}
#crusies_sidbar .booking-form-done .foot {margin-top: 30px;}
#crusies_sidbar .booking-form-done .foot .btn-default {
  padding: 10px;
  font-size: 16px;
  background: #989898;
  color: #FFF;
  max-width: 300px;
  margin: 0 auto;
}
.crusies-list-page {padding-bottom: 50px;}
.crusies-filter {
  background: #f8f9fa;
  padding: 30px 15px;
}

.form-input-range {
  display: flex;
  background: #FFF;
  padding: 15px;
  align-items: center;
  border-radius: 5px;
}
.form-input-range .range_bg {width: 100%; margin-right: 10px;}
.form-input-range #price_range {
  background: #ffcd22;
  padding: 5px 10px;
  color: #FFF;
  text-align: center;
  min-width: 50px;
  font-weight: bold;
}
.form-input-range input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  background: #ffcd22;
  outline: none;
  opacity: 1;
  -webkit-transition: .2s;
  transition: opacity .2s;
  border-radius: 5px;
}

.form-input-range input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 25px;
  background: #FFF;
  border: 5px solid #ffcd22;
  cursor: pointer;
}

.form-input-range input[type="range"]::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 25px;
  background: #FFF;
  border: 5px solid #ffcd22;
  cursor: pointer;
}
.crusies-filter .bs-form-checkbox input[type="checkbox"] {background: #FFF; border-radius: 0px;}
#crusies_sidbar .crusies-filter .bs-form-control label {margin: 0px;}
#crusies_sidbar .bs-form-control .number {
  display: inline-flex;
  background: #FFF;
  border: 1px solid #ebebeb;
  border-radius: 3px;
}
#crusies_sidbar .bs-form-control .number input {
  text-align: center;
  border: 0px solid #ebebeb;
  border-left: 1px solid #ebebeb;
  border-right: 1px solid #ebebeb;
  width: 100px;
}
#crusies_sidbar .bs-form-control .number span {
  height: 30px;
  width: 30px;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
}
#crusies_sidbar .crusies-filter .foot {padding: 15px; margin: 0px;}
#crusies_sidbar .crusies-filter .foot .btn {
  margin: 0px;
  padding: 15px;
  font-size: 18px;
}

.crusies-boxs {}
.crusies-boxs .crusie-box {
  background: #FFF;
  border: 1px solid #f6f6f6;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  padding: 15px;
  margin-bottom: 30px;
}
.crusies-boxs .crusie-box:hover {box-shadow: 1px 0px 19px #e1e3e2db;}
.crusies-boxs .crusie-box .image {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  margin-right: 15px;
  min-width: 300px;
}
.crusies-boxs .crusie-box .image img {}
.crusies-boxs .crusie-box .image .rating {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.crusies-boxs .crusie-box .image .rating .fa {
  margin-right: 5px;
  color: #ffc107;
}
.crusies-boxs .crusie-box .content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.crusies-boxs .crusie-box .content .head {border-bottom: 1px solid #F6F6F6;}
.crusies-boxs .crusie-box .content .head .name {
  font-family: 'AvantGarde-Medium', sans-serif;
  font-weight: 500;
  margin: 0 0 5px 0;
}
.crusies-boxs .crusie-box .content .head .location {font-size: 16px; color: #9f9694;}
.crusies-boxs .crusie-box .content .head .location .fa {color: #63b6f8;}
.crusies-boxs .crusie-box .content .description {color: #9f9694; font-size: 16px; height: 100%; padding: 10px 0;}
.crusies-boxs .crusie-box .content .foot {margin: 0px; text-align: inherit;}
.crusies-boxs .crusie-box .content .foot .advantages {
  margin-bottom: 5px;
}
.crusies-boxs .crusie-box .content .foot .advantages li {
  display: inline-block;
}
.crusies-boxs .crusie-box .content .foot .advantages li img {
  max-width: 20px;
}
.crusies-boxs .crusie-box .content .foot .bottom {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #F6F6F6;
  padding: 5px 0 0 0;
  align-items: center;
}
.crusies-boxs .crusie-box .content .foot .bottom .add-fav {cursor: pointer; margin: 0; vertical-align: middle;}
.crusies-boxs .crusie-box .content .foot .bottom .add-fav input {display: none;}
.crusies-boxs .crusie-box .content .foot .bottom .add-fav .fav-ico {
  background: #ecf6f8;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
  border-radius: 3px;
}
.crusies-boxs .crusie-box .content .foot .bottom .add-fav .fav-ico .img-nofav {display: block;}
.crusies-boxs .crusie-box .content .foot .bottom .add-fav .fav-ico .img-fav {display: none;}
.crusies-boxs .crusie-box .content .foot .bottom .add-fav input:checked + .fav-ico .img-nofav {display: none;}
.crusies-boxs .crusie-box .content .foot .bottom .add-fav input:checked + .fav-ico .img-fav {display: block;}
.crusies-boxs .crusie-box .content .foot .bottom .location-btn {
  display: inline-block;
  height: 30px;
  width: 30px;
  text-align: center;
  background: #ecf6f8;
  color: #999;
  border-radius: 3px;
  vertical-align: middle;
  padding: 3px;
}
.crusies-boxs .crusie-box .content .foot .bottom .btn-about {
  background: #63b6f8;
  padding: 6px 15px;
  color: #FFF;
  border-radius: 5px;
}

.account-links {
  background: #FFF;
  border: 1px solid #f6f6f6;
  padding: 20px 15px;
  border-radius: 8px 8px 5px 5px;
  border-top: 4px solid #5bc9e2;
  margin-bottom: 30px;
}
.account-links li a {
  display: block;
  padding: 5px 0px;
  color: #4d4843;
  font-weight: 600;
}
.account-links li a.active,
.account-links li a:hover {color: #5bc9e2;}
.account-links li a .ico {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  text-align: center;
  height: 30px;
  overflow: hidden;
  margin-right: 10px;
}
.account-reservations {}
.account-reservations .sec-title {
  background: #FFF;
  border: 1px solid #f6f6f6;
  padding: 20px 15px;
  border-radius: 8px 8px 5px 5px;
  border-top: 4px solid #5bc9e2;
  margin-bottom: 30px;
}
.account-reservations .sec-title.sec-title-reject {border-top-color: #f44a62;}
.account-reservations .sec-title h3 {margin: 0px;}
.crusies-boxs .crusie-box .content .head.head-with-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.crusies-boxs .crusie-box .content .head .head-time .btn-time {
  background: #63b6f8;
  color: #FFF;
  padding: 5px 15px;
  border-radius: 3px;
  display: inline-block;
  font-size: 16px;
}
.crusies-boxs .crusie-box .content .foot .bottom .btn-danger {background: #f44a62; font-weight: 100; color: #FFF;}
.crusies-boxs .crusie-box .content .foot .bottom .btn-default {background: #b1b1b1; font-weight: 100; color: #FFF;}
.crusies-boxs .crusie-box .content .foot .bottom .btn-primary {background: #63b6f8; font-weight: 100; color: #FFF;}
.crusies-boxs .crusie-box .content .foot .bottom .btn-success {background: #46c329; font-weight: 100; color: #FFF;}
.crusies-boxs .crusie-box .content .foot .bottom .btn:hover {background: #000;}

.account-info {
  background: #FFF;
  border: 1px solid #f6f6f6;
  padding: 20px 15px;
  border-radius: 8px 8px 5px 5px;
  border-top: 4px solid #5bc9e2;
  margin-bottom: 30px;
}
.account-info .form-group {
  margin-bottom: 15px;
  border-bottom: 1px solid #f7f8f9;
  padding-bottom: 15px;
  margin-right: 0;
  margin-left: 0;
}
.account-info .form-group .edit-form-control {position: relative;}
.account-info .form-group .edit-form-control .form-control-plaintext {
  width: 100%;
  padding-right: 30px;
  border: 0px none;
	color: #000;
}
.account-info .form-group .edit-form-control .form-control-plaintext:read-only {color: #6a6a6a;}
.account-info .form-group .edit-form-control .edit_text {
  position: absolute;
  top: 3px;
  right: 0px;
  cursor: pointer;
  color: #5bc9e2;
}
.account-info .form-group .edit-form-control .form-control-plaintext:read-only + .edit_text {color: #000;}
.account-info .foot {padding: 30px 0;}
.account-info .foot .btn-primary {
  font-size: 24px;
  font-weight: 100;
  max-width: 350px;
  margin: 0 auto 0px auto;
}
.account-payment {
  background: #FFF;
  border: 1px solid #f6f6f6;
  padding: 20px 15px;
  border-radius: 8px 8px 5px 5px;
  border-top: 4px solid #5bc9e2;
  margin-bottom: 30px;
}

.account-payment .head {border-bottom: 1px solid #F6F6F6;}
.account-payment .head h3 {font-size: 20px; margin-top: 10px;}
.account-payment .head p {color: #6a6a6a;}
.account-payment .content {}
.account-payment .content .btn-primary {padding: 10px;}
.account-page .account-link {
  background: #FFF;
  display: flex;
  align-items: center;
  border: 1px solid #f6f6f6;
  padding: 20px 15px;
  border-radius: 8px 8px 5px 5px;
  border-top: 4px solid #5bc9e2;
  margin-bottom: 30px;
}
.account-page .account-link .image {width: 50px; text-align: center; margin-right: 20px;}
.account-page .account-link .content {}
.account-page .account-link .content h3 {color: #2a241c; margin-top: 0px;}
.account-page .account-link .content p {color: #9f9694; font-size: 16px;}
.account-page .account-link .content a {color: #63b6f8; font-size: 16px;}
.account-page .account-link .content a:hover {color: #000; text-decoration: underline;}
.crusies-detials-action-page {padding-bottom: 50px;}
.crusies-detials-action-page .crusies-info .content .description-sec,
.crusies-detials-action-page .crusies-info .content .gallery-sec {border-bottom: 0px none; margin-bottom: 0px;}
#crusies-info_sidbar {padding: 0 15px;}
#crusies-info_sidbar .head {border-bottom: 1px solid #f7f8f9; margin-bottom: 20px; padding: 15px 0 5px 0;}
#crusies-info_sidbar .head h3 {margin: 0px;}
#crusies-info_sidbar .google-maps-sidbar iframe {height: 300px; width: 100%;}
#crusies-info_sidbar .amenities-sec {
  padding-bottom: 20px;
}
#crusies-info_sidbar .amenities-sec h3 {}
#crusies-info_sidbar .amenities-sec .amenities-icons {}
#crusies-info_sidbar .amenities-sec .amenities-icons .convenience {
  color: #9f9694;
  font-size: 16px;
  margin-bottom: 10px;
}
#crusies-info_sidbar .amenities-sec .amenities-icons .convenience .ico {
  height: 20px;
  width: 20px;
  display: inline-block;
  vertical-align: middle;
}
.crusies-detials-bottom .crusies-detials-action {
  background: #f8f9fa;
  box-shadow: 0px 0px 19px #e1e3e2db;
  border-radius: 5px;
  margin-bottom: 30px;
  padding: 15px;
}
.crusies-detials-bottom ul.crusies-detials {
  background: #FFF;
  padding: 10px;
  border: 1px solid #eff0f0;
  margin-bottom: 30px;
}
.crusies-detials-bottom ul.crusies-detials li {display: flex; padding: 10px 0; color: #8a898e;}
.crusies-detials-bottom ul.crusies-detials li + li {border-top: 1px solid #eff0f0;}
.crusies-detials-bottom ul.crusies-detials li div {flex: 1;}
.crusies-detials-bottom .flex-btns {display: flex;}
.crusies-detials-bottom .flex-btns .btn {
  flex: 1;
  padding: 10px;
  margin-right: 15px;
  color: #FFF;
  font-weight: 100;
}
.crusies-detials-bottom .flex-btns .btn:last-child {margin: 0px;}
.crusies-detials-bottom .flex-btns .btn.btn-default {background: #989898;}
.crusies-detials-bottom .price {margin-top: 30px; padding: 20px 15px; border-top: 1px solid #eff0f0;}
.crusies-detials-bottom .price h3 {
  margin: 0px;
  display: inline-block;
  font-size: 28px;
  font-weight: bold;
  color: #5bc9e2;
  letter-spacing: 1px;
}
.crusies-detials-bottom .price span {
  font-size: 16px;
  font-weight: bold;
  margin-left: 5px;
  color: #8a898e;
}

.crusies-detials-bottom .right-btn .btn-primary {padding: 10px;}

.search-page {padding-bottom: 50px;}
.search-page .images-boxs {margin-bottom: 50px;}
.search-page .images-boxs a {display: block;}
.search-page .images-boxs a img {width: 100%;}
.head_search {
  background: #FFF;
  border-top: 4px solid #62b6fa;
  transform: translate(0, -100%);
  z-index: 9;
  position: relative;
  box-shadow: 0px 0px 12px #e1e3e2db;
  padding: 15px;
}
.head_search > form {display: flex;}
.head_search .autocomplete {width: 100%; padding-right: 15px;}
.head_search .autocomplete input {
  height: 40px;
  width: 100%;
  border: 1px solid #ededed;
  padding: 0 15px 0 35px;
  font-size: 14px;
  color: #000;
}
.head_search .autocomplete i {position: absolute; top: 28px; left: 30px; color: #ffcd22;}
.head_search .search_icons {display: flex;}
.head_search .search_icons .btn {
  margin-right: 15px;
  font-size: 20px;
  border-radius: 0px;
  background: #FFF;
  color: #63b6f8;
}
.head_search .search_icons .btn:hover {background: #F6F6F6;}
.head_search .search_icons .btn.active {background: #63b6f8; color: #FFF;}
.head_search .search_icons .btn .fa-exchange {transform: rotate(90deg);}
.head_search .search_icons .btn-search {
  background: #FFFFFF;
  border: 0px none;
  border-radius: 3px;
  color: #000000;
  height: 40px;
  font-family: 'AvantGarde-Medium', sans-serif;
  font-size: 24px;
  line-height: 0;
}
.head_search .search_icons .btn-search:hover {background: #FFF;}
.head_search .autocomplete .autocomplete-items {
  position: absolute;
  background: #FFF;
  left: 0;
  right: 0;
  top: 100%;
  padding: 0px 15px 0px 15px;
}
.head_search .autocomplete .autocomplete-items > div {padding: 5px 0px; border-top: 1px solid #ededed;}
.head_search .autocomplete .autocomplete-items > div + div {}
.search-found {
  color: #484949;
  border-bottom: 1px solid #d1d1d1;
  padding-bottom: 10px;
  margin-bottom: 30px;
}
.search-crusies-list .crusies-boxs .crusie-box .image {min-width: 280px;}
.search-crusies-list .foot {margin: 50px 0; text-align: center;}
.search-crusies-list .foot .btn {
  padding: 10px;
  font-size: 16px;
  margin-bottom: 30px;
  min-width: 200px;
}

/* =-=-=-=-=-=-=-=-= Footer =-=-=-=-=-=-=-=-= */
footer {
  background: #343a40;
  padding: 30px 0;
}
footer .logo {}
footer .footer-help {}
footer .footer-help h4 {
  color: #5bc9e2;
  font-family: 'AvantGarde-Medium', sans-serif;
  font-weight: 100;
  font-size: 20px;
}
footer .footer-help p {
  font-size: 16px;
  color: #7a7a7a;
  text-transform: uppercase;
  max-width: 260px;
  text-align: justify;
  line-height: 18px;
}
footer .contact {display: flex;}
footer .contact .ico {margin-right: 10px;}
footer .contact .content {}
footer .contact .content a {color: #5bc9e2; font-size: 14px;}
footer .contact .content a.link-phone {font-size: 18px;}
footer .social_links {margin-top: 5px;}
footer .social_links li {display: inline-block;}
footer .social_links li a {color: #99999a; display: inline-block; margin: 3px;}
footer .social_links li a:hover {color: #009eed;}
footer .links {}
footer .links h3 {color: #FFF;}
footer .links li {padding: 5px 0;}
footer .links a {color: #FFF;}
footer .links a:hover {text-decoration: underline;}

#footer_bottom {background: #303438; padding: 15px 0;}
#footer_bottom .copyright {
  font-family: arial;
  font-weight: bold;
  font-size: 11pt;
  color: #7a7a7a;
  margin: 0px;
  line-height: 38px;
}
#footer_bottom .lifecontac-copyright {text-align: right;}
#footer_bottom .lifecontac-copyright a {
  color: #FFF;
  font-weight: bold;
  line-height: 38px;
  display: inline-block;
  font-size: 14px;
}
#footer_bottom .lifecontac-copyright a img {height: 38px;}


#footer_mob {
  background: #343a40;
  position: fixed;
  bottom: 0px;
  display: none;
  left: 0;
  right: 0;
  border-top: 1px solid #7a7a7a;
  z-index: 99999999;
  height: 70px;
  align-items: center;
  box-shadow: 0px 0px 5px #3030301A;
}
#footer_mob a {
  flex: 1;
  color: #FFF;
  text-align: center;
  padding: 5px;
  border-bottom: 5px solid #212121;
  font-weight: 600;
}
#footer_mob a.active {color: #5bc9e2; border-color: #5bc9e2;}
#footer_mob a .ico {font-size: 24px;}
#footer_mob a p {margin: 0px;}




@media (min-width: 768px) {
	header.sticky {position: fixed; top: 0; left: 0px; right: 0px; padding: 5px 0;}
	header.sticky .logo a {max-width: 120px;}
	header.sticky .header-links {padding-top: 10px;}
	header.sticky .right-btn {padding-top: 5px;}
	header.sticky + #content {padding-top: 55px;}
}
@media (max-width: 767px) {
	body {padding-bottom: 70px;}
	nav#top {}
	header {padding: 5px 0; height: 70px;}
	header .logo {
	  text-align: center;
	  display: flex;
	  justify-content: space-between;
	}
	header .logo a {}
	header .right-btn a.nav-trigger {display: inline-block;}
	header .right-btn a.btn-booking {display: none;}

	header.sticky {position: fixed; top: 0; width: 100%;}
	header.sticky + #content {padding-top: 70px;}
	.crusies-info .content .location-sec .google-maps-box > iframe {height: 300px;}
	.listing_reviews-sec .reviews-boxs .review-box {display: block; text-align: center;}
	.listing_reviews-sec .reviews-boxs .review-box .image {margin: 0 auto 15px auto;}
	.crusies-boxs .crusie-box {display: block;}
	.crusies-boxs .crusie-box .image {margin: 0px 0px 15px 0; min-width: 100%;}
	.crusies-boxs .crusie-box .image img {width: 100%;}
	.crusies-boxs .crusie-box .content .head.head-with-btn {display: block;}
	.crusies-boxs .crusie-box .content .head .head-time {margin: 10px 0;}
	.crusies-detials-bottom .flex-btns {display: block;}
	.crusies-detials-bottom .flex-btns .btn {margin: 10px 0; display: block;}
	.head_search > form {display: block;}
	.head_search .autocomplete {padding: 0px;}
	.head_search .search_icons {display: flex; justify-content: space-evenly; margin-top: 10px;}
	
	
	
	.home_search input[type="submit"],
	#bottom-search .form-flex button {width: auto; padding: 0 10px;}
	#bottom-search .title {font-size: 16px;}
	#footer_mob {display: flex;}
	footer {text-align: center;}
	footer .logo {margin: 0px auto;}
	footer .links a {font-size: 16px;}
	footer .footer-help p {margin: 0 auto; text-align: center;}
	footer .contact {display: block;}
	footer .contact .ico {display: none;}
	footer .contact .content a {display: block;}
	#footer_bottom {text-align: center;}
	#footer_bottom .lifecontac-copyright {text-align: center;}
	
}

@media (max-width: 540px) {
}
@media (max-width: 490px) {
	
}

